@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="text-align">
    <h1 class="display-4">Welcome to CRUDelicious</h1>
    <p>Home |</p> <a href="/dishes/new">Add a Dish</a>
    </div>
</div>


